<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Delete date</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Delete one of date</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="post" action="/delete_date">
            <label for="date">Date:</label>
            <select name="delete_one_date" id="date" required>
                {% for date_id, date in dates.items() %}
                    <option value="{{ date.strftime('%Y-%m-%d') }}">{{ date.strftime('%Y-%m-%d') }}</option>
                {% endfor %}
            </select>
            <button type="submit">Delete date</button>
        </form>
        <a href="/">Back to Attendance Tracker</a>
    </body>
</html>